<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="secretKey" value="AlMuK.com@@"/>
  </appSettings>
  <connectionStrings>
    <add name="connectionString" connectionString="Server=.\SQLEXPRESS;Database=UsersDB;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>